* {
     padding: 0;
     margin: 0;
}
 body {
     font-family: Montserrat;
     font-size: 13px;
}
 #wrapper {
     margin: 0 auto;
     width: 922px;
}
 #main {
     float: left;
     color: #333;
     padding: 0;
     width: 100%;
     display: inline;
     position: relative;
     min-height: 700px;
     background-color: #ffffff;
     border-left: 50px solid #00B8A9;
     overflow: hidden;
     width: 100%;
}
 #header {
     color: #333;
     width: 902px;
     padding: 10px;
     height: 100px;
     margin: 10px 0px 5px 0px;
     background: #ABBEBE;
}
 #footer {
     width: 902px;
     clear: both;
     color: #333;
     background: #ABBEBE;
     margin: 0px 0px 10px 0px;
     padding: 10px;
}
 .clear {
     clear: both;
     background: none;
}
 #title-wrapper {
     background-color: white;
}
 #logo {
     background-color: #00B8A9;
     width: 150px;
     float: left;
     height: 40%;
     margin-left: 90px;
     padding-top: 20px;
}
 #main-title{
     float: right;
     margin-top: 64px;
     margin-right: 170px;
     letter-spacing: 2px;
     padding-left: 100px;
}
 #main-title p{
     font-size: 16px;
}
 .text-center {
     text-align: center;
}
 #logo img {
     width: auto;
     height : auto;
     max-height: 100%;
     max-width: 100%;
}
 .f-s-50{
     font-size: 50px;
}
 #middle-content-wrapper{
     float: left;
     color: #333;
     padding: 0;
     width: 100%;
     display: inline;
     position: relative;
     min-height: 237px;
     background-color: #ffffff;
}
 #customer{
     width: 45%;
     float: left;
     height: 40%;
     margin-left: 55px;
     margin-top: 68px;
}
 #payment{
     float: left;
     margin-top: 108px;
     margin-right: 85px;
     font-size: 16px;
     letter-spacing: 1px;
     padding-left: 30px 
}
 #item-content {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
     float: left;
     overflow: hidden;
     letter-spacing: 1px;
}
 #item-table{
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
}
 #item-table th, td {
     text-align: left;
     padding: 16px;
}
 #item-table tr:nth-child(odd) {
     background-color: #f2f2f2;
}
 #item-table tr:nth-last-child(-n+4){
     background-color: white;
}
 #item-table th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #00B8A9;
     color: white;
}
 #item-table-wrapper {
     padding-left: 40px;
     padding-right: 40px;
     height: 100%;
}
 #item-table-wrapper #calculation {
     float: right;
     margin-right: 130px;
}
 #contact {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
     float: left;
     margin-top: 70px;
}
 #contact-address{
     float: left;
     padding-left: 42px;
     padding-top: 44px;
     font-size: 15px;
     margin-bottom: 20px;
}
 #compliment-word {
     float: right;
     font-size: 40px;
     padding-right: 77px;
     font-weight: 900;
     margin-bottom: 10px;
     letter-spacing: 2px;
     padding-top: 52px;
}
 #contact .f-hr{
     width: 91%;
     height: 2px;
     background-color: #00B8A9;
     clear: both;
     margin: 0 auto 
}
 .color-common {
     color: #00B8A9;
}
 .f-l {
     float: left;
}
 .f-t {
     text-align: center;
     margin-top: 10px;
     font-size: 15px;
     margin-bottom: 12px;
}
 .text-left {
     text-align: left;
}
 .fs-38{
     font-size: 38px;
}
 .t-hr{
     height: 5px;
     width: 100%;
     background-color: #f2f2f2;
     border: none;
     padding-left: 0px !important;
}
 .pl-0{
     padding-left: 0px !important;
}
 .date-inv{
     margin-left: 40px;
}
 #ca {
     font-size: 16px;
}
 .fnt-osw {
     font-family: Oswald !important;
}
 .ac-no {
     font-weight: bold;
}
 .ml-30 {
     margin-left: 30px;
}
 .ml-25{
     margin-left: 25px;
}
 .f-b{
     font-weight: bold;
}
 .p-0{
     padding: 0 !important;
}
 #payment-method{
     float: right;
     width: 50%;
     height: auto;
     padding: 10px;
     font-size: 16px;
     margin-top: 80px;
}
 .myButton {
     background-color:#00B8A9;
     border-radius:3px;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:17px;
     font-weight:normal;
     padding:7px 24px;
     text-decoration:none;
     text-shadow:0px 1px 0px #528ecc;
}
 .myButton:hover {
     background-color:#00B8A9;
}
 .myButton:active {
     position:relative;
     top:1px;
}
 #cc-btn{
     float: left;
     margin-left: 112px;
}
 #paypal-button{
     float: left;
     margin-left: 10px;
}
 .text-right{
     text-align: right;
}
 .mr-105 {
     margin-right: 105px;
}
 .paypal-btn{
     background-color:#00B8A9;
     border-radius:3px;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:17px;
     font-weight:normal;
     padding:7px 24px;
     text-decoration:none;
     text-shadow:0px 1px 0px #528ecc;
}
